body,
html {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

header h1{
    font-size: 350%;
    color:burlywood;
    margin: 30px;
    
}

#library {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.book {
    background-color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 15px 10px -15px #111;

}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}

button {
    background-color: white;
    font-size: 40px;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 5px;
}