body,
html {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eae0d5;
}

header h1{
    font-size: 350%;
    color:#5e503f;
    margin: 30px;
    
}

#library {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    gap: 30px;
    margin: 15px;
}

.book {
    color: #5E503F;
    background-color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 15px 10px -15px #0A0908;
    min-width: 100px;

}

.book h2 {
    color:#C6AC8F;
}

.delete {
    margin-bottom: 10px;
    font-size: 15px;
}

.delete:hover {
    text-decoration: underline;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}

#newBook {
    background-color: #22333B;
    color: #EAE0D5;
    font-size: 40px;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #0A0908;
}

#bookCreator {
    max-width: 50ch;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #0A0908;
    padding-top: -30px;
}

#bookCreator::backdrop {
    background: rgb(0 0 0 / .4);
}

#bookCreator h2{
    font-weight: 900;
    font-size: 30px;
}

#bookForm {
    display: flex;
    flex-direction: column;
}

.formItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;;
    font-weight: bolder;
}

#bookTitle,
#bookAuthor {
    border-radius: 10px;
    border: solid 1px #22333B;
    height: 30px;
    width: 270px;
    margin-top: -15px;
}

#submit {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}

#submit {
    background-color: #22333B;
    color: #EAE0D5;
    font-weight: 700;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #0A0908;
}